<div style="padding: 15px;" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="layui-bg-green" style="width: 100px;height:30px; text-align: center;padding-top: 13px" >
        <input id="all" type="checkbox" ><span style="font-size: 15px"><b>全选</b></span>
    </div>
    <div class="layui-row layui-col-space10" style="margin-top: 10px">
        <div class="layui-col-md3" th:each="InformatuonSchema : ${result.data}">
            <div class="tableinfo">
                <input name="tablename" type="checkbox" th:value="${InformatuonSchema.tableName}"/>
                <span th:text="${InformatuonSchema.tableName}"></span>
            </div>
            <hr class="layui-bg-green">
        </div>
    </div>
    <input class="layui-btn" type="button" value="备份" id="sub" onclick="sub"/>
</div>
<script src="../jquery-3.3.1.js"></script>
<script src="../layer/layer.js"></script>
<script>
    /**
     * 提交数据到后台的接口
     */
    jQuery("#sub").click(function () {
        var allcheckbox = jQuery('[name=tablename]');
        var str = '';
        for(var index=0;index<allcheckbox.length;index++){
            if(allcheckbox[index].checked){
                str += allcheckbox[index].value+',';
            }
        }
        jQuery.ajax({
            type: "POST",
            url: "/result/backup",
            data: {tablenames:str},
            dataType: "json",
            success: function(data){
                if(data.rel){
                    layer.alert(data.data,{icon: 6});
                }else{
                    layer.alert(data.message,{icon: 5});
                }
            }
        })
    });

    /**
     * 全选
     */
    jQuery("#all").click(function(){
        if(this.checked){
            jQuery("[name=tablename]").attr("checked",true);
        }
        else{
            jQuery("[name=tablename]").attr("checked",false);
        }
    });

</script>