<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>数据库管理平台</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">数据库管理平台</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" targat="/backup"><a  href="javascript:void(0)">数据库备份</a></li>
            <li class="layui-nav-item" targat="/link"><a  href="javascript:void(0)">数据库监控台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/">退出并清空数据</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="/">备份其他数据库</a></li>
            </ul>
        </div>
    </div>
    <style>
        #tablenamelist{
            width: 250px;
        }
        .tableinfo{
            margin-top: 10px;
        }
    </style>
    <div class="layui-body" id="content" style="background: #f1f4f7;height: 89%;padding-top: 10px">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" >
            <H1>欢迎使用数据库管理工具</H1>
        </div>
    </div>

    <div class="layui-footer" >
        <!-- 底部固定区域 -->
<p>底部内容</p>
    </div>
</div>

<script src="../jquery-3.3.1.js"></script>
<script src="../layer/layer.js"></script>
<script>
    jQuery('li').click(function(){
        var url = jQuery(this).attr("targat");
        jQuery('#content').load(url);
    });
</script>
</body>
</html>